<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="text-center jumbotron jumbotron-fluid bg-secondary aqws">
        <h1 class="display-4">Welcome to Toasty Bedrolls Touring Forum!</h1>
        <p>A spiritual successor to Warmshowers.org</p>
        </div>
</div>


