@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron jumbotron-fluid bg-secondary">
    <h1 class="display-4">Welcome to Ben's Bicycle Touring Forum!</h1>
    <p>A spiritual successor to Warmshowers.org</p>
    </div>
    <div class="text-center">
    <h2>Links</h2>
        <a asp-controller="Forum" asp-action="Index">Forum</a><br />
        <a asp-controller="RideTracker" asp-action="Index">Ride Tracker</a><br />
</div>
