@model Post
@{
    ViewData["Title"] = "Forum";
}

<div class="text-center jumbotron jumbotron-fluid bg-secondary">
    <h1 class="display-4">Bicycle Touring Discussion Forum</h1>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="col-md-2">Boards</th>
            </tr>
        </thead>
        <a asp-controller="Forum"
           asp-action="Boards"
           asp-route-BoardProperty="@Post.Board.Touring">Touring</a>
        <a asp-controller="Forum"
           asp-action="Boards"
           asp-route-BoardProperty="@Post.Board.Bmx">Bmx</a>
        <a asp-controller="Forum"
           asp-action="Boards"
           asp-route-BoardProperty="@Post.Board.Bikepacking">Bike Packing</a>
    </table>
    </div>
    <a href="/Home" class="btn btn-primary">Home</a>
